@model IEnumerable<SensenHosp.Models.BlogCategory>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div>
    @ViewData["PageSummary"]
    @if ((int)ViewData["pagenum"] < 1)
    {
        <span>Prev</span>
    }
    else
    {
        @Html.ActionLink("Prev",
                    "Index",
                    "BlogCategories",
                    new { pagenum = ((int)ViewData["pagenum"] - 1) }
                    )
    }
    |
    @if ((int)ViewData["pagenum"] == (int)ViewData["maxpage"])
    {
        <span>Next</span>
    }
    else
    {
        @Html.ActionLink("Next",
                 "Index",
                 "BlogCategories",
                 new { pagenum = ((int)ViewData["pagenum"] + 1) }
                 )
    }
</div>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
