@model SensenHosp.Models.ReviewOnDoctor

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ReviewOnDoctor</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.ReviewId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReviewId)
        </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.physicianId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Physician.physicianName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Reply)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Reply)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ReviewId">Edit</a> |
    <a asp-action="List">Back to List</a>
</div>
