@model SensenHosp.Models.Album

@{
    ViewData["Title"] = "Details";
}

<h2 class="text-center">@Model.Title</h2>


<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to Albums</a>
</div>

<div>
    @ViewData["PageSummary"]
    @if ((int)ViewData["pagenum"] < 1)
    {
        <span>Prev</span>
    }
    else
    {
        @Html.ActionLink("Prev",
                    "Details",
                    "Albums",
                    new { pagenum = ((int)ViewData["pagenum"] - 1)}
                    )
    }
    |
    @if ((int)ViewData["pagenum"] == (int)ViewData["maxpage"])
    {
        <span>Next</span>
    }
    else
    {
        @Html.ActionLink("Next",
                 "Details",
                 "Albums",
                 new { pagenum = ((int)ViewData["pagenum"] + 1) }
                 )
    }
</div>
<div class="d-flex flex-wrap">
    
    @foreach (var m in Model.Media.Select((value, i) => new { i, value }))
    {
        @if (m.i >= (int)ViewData["perpage"] * (int)ViewData["pagenum"] && m.i < (int)ViewData["perpage"] * ((int)ViewData["pagenum"] + 1)) { 
            <div class="col-4 py-3">
                <div class="card">
                    <div class="card-img-top">
                        <img src="~/Uploads/Media/Albums/@Model.Title/@m.value.Name.@m.value.Extension" class="img-fluid" />
                    </div>
                </div>
            </div>
        }
    }
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>