@model IEnumerable<SensenHosp.Models.Album>

@{
    ViewData["Title"] = "Index";
}

<h2 class="text-center">Media Gallery</h2>


<p>
    @if (ViewData["user"] != null)
    {
        <a asp-action="Create">Add new album</a>
    }
</p>
<div>
    
    @ViewData["PageSummary"]
    @if ((int)ViewData["pagenum"] < 1)
    {
        <span>Prev</span>
    }
    else
    {
        @Html.ActionLink("Prev",
                    "Index",
                    "Albums",
                    new { pagenum = ((int)ViewData["pagenum"] - 1) }
                    )
    }
    |
    @if ((int)ViewData["pagenum"] == (int)ViewData["maxpage"])
    {
        <span>Next</span>
    }
    else
    {
        @Html.ActionLink("Next",
                 "Index",
                 "Albums",
                 new { pagenum = ((int)ViewData["pagenum"] + 1) }
                 )
    }
    </div>
<div class="d-flex flex-wrap">
    
    @foreach (var item in Model)
    {
        <div class="col-4 py-3">
            <div class="card">
                <a class="card-img-top" asp-action="Details" asp-route-id="@item.ID">
                    @if (item.Media.Count() > 0)
                    {
                        <img src="~/Uploads/Media/Albums/@item.Title/@item.Media.First().Name.@item.Media.First().Extension" class="img-fluid"/>
                    }

                </a>
                <a class="card-body btn btn-light" asp-action="Details" asp-route-id="@item.ID">@item.Title</a>
            </div>
        </div>
    }

</div>
