@model SensenHosp.Models.Career

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>
<div>
    <h4>Career</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.department)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.department)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.category)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.deadline)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.deadline)
        </dd>
    </dl>
    @if (Model.Applicants != null)
    {
        <div class="inprow">
            @foreach (var applicant in Model.Applicants)
            {
                <div class="recitem">
                    @Html.ActionLink(applicant.fname, "Details", "Applicant", new { id = applicant.Id })
                </div>
            }
        </div>
    }
    else
    {
        <span style="font-style:italic;">No Applications yet.</span>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a> |
    <a href="/Applicants/Create/@Model.id">Apply</a>
</div>
