@model IEnumerable<SensenHosp.Models.Career>

@{
    ViewData["Title"] = "Index";
}

<h2>Careers</h2>

<p>
    <a asp-action="Create">Create New Post</a>
</p>
<div class="reccontainer" style="overflow:hidden;">
    <div>
        @ViewData["PaginationSummary"]
        @Html.ActionLink("Prev",
            "Index",
            "Careers",
            new { pagenum= ((int)ViewData["pagenum"]-1)}
            )
        |
        @Html.ActionLink("Next",
            "Index",
            "Careers",
            new { pagenum = ((int)ViewData["pagenum"] + 1) }
            )
    </div>
    @foreach (var career in Model)
    {
    <div class="recbody">
        <label>@Html.ActionLink(career.title, "Details/" + career.id)</label>

        <p>@career.id</p>
        @if (String.Equals("Admin", (string)ViewData["UserRole"]))
        {
            /*<span class="del">
                <a href="@Url.Action("Delete", "Career", new { id = career.id })"><i class="far fa-trash-alt"></i></a>
            </span>*/
            <a asp-action="Delete" asp-route-id="@career.id">Delete</a> 
            <a asp-action="Edit" asp-route-id="@career.id">Edit</a>
            <a asp-action="Details" asp-route-id="@career.id"> Details </a>
        }
    </div>
        <div class="clearfix"></div>

    }
</div>