@model IEnumerable<SensenHosp.Models.UserRole>

@{
    ViewData["Title"] = "List";
}

<h2 class="heading heading-h2">List</h2>

<a asp-action="Create" class="submit">Create New</a>
<br /><br/>
<table class="table table-hover">
    <thead class="text-light bg-primary">
        <tr>
            <th class="alert-title-table" colspan="2">
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th class="alert-title-table" colspan="2">
                @Html.DisplayNameFor(model => model.RoleDescription)
            </th>
            <th class="alert-title-table" colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="alert-title-table" colspan="2">
                    @Html.DisplayFor(modelItem => item.RoleName)
                </td>
                <td class="alert-title-table" colspan="2">
                    @Html.DisplayFor(modelItem => item.RoleDescription)
                </td>
                <td class="alert-title-table" colspan="2">
                    <a asp-action="Edit" asp-route-id="@item.RoleID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.RoleID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.RoleID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
