@model SensenHosp.Models.BlogPost

@{
    ViewData["Title"] = "Details";
}

@if (Model.HasImg == 1)
{
    <img src="~/Uploads/Blog/FeatureImages/@Model.ImgName" class="img-fluid" />
}

<h2 class="text-center" id="post-title">@Model.Title</h2>
<div id="post-attr" class="d-flex justify-content-between">
    <span>@Model.BlogCategory.Name</span>
    <span>@Html.DisplayFor(modelItem => Model.DatePublished)</span>
</div>
<div id="post-body">
    @Model.Body
</div>

<div>
    @if (ViewData["user"] != null)
    {
        <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> <span>|</span>
        <a asp-controller="Delete" asp-action="Create">Delete</a> <span>|</span>
    }
    <a asp-action="Index">Back to List</a>
</div>
