@model IEnumerable<SensenHosp.Models.BlogPost>

@{
    ViewData["Title"] = "Index";
}

<h2 class="text-center">Articles</h2>

<p>
    <a asp-action="Create">Add New Article</a>
</p>

<div>
    @ViewData["PageSummary"]
    @if ((int)ViewData["pagenum"] < 1)
    {
        <span>Prev</span>
    }
    else
    {
        @Html.ActionLink("Prev",
                    "Index",
                    "BlogPosts",
                    new { pagenum = ((int)ViewData["pagenum"] - 1) }
                    )
    }
    |
    @if ((int)ViewData["pagenum"] == (int)ViewData["maxpage"])
    {
        <span>Next</span>
    }
    else
    {
        @Html.ActionLink("Next",
                 "Index",
                 "BlogPosts",
                 new { pagenum = ((int)ViewData["pagenum"] + 1) }
                 )
    }
</div>

@foreach (var item in Model)
{
    <div class="list-post-block d-flex flex-row flex-wrap">
        <a class="post-image col-12 col-md-3" asp-action="Details" asp-route-id="@item.ID">
            @if (item.HasImg == 1)
            {
                <img src="~/Uploads/Blog/FeatureImages/@item.ImgName" class="img-fluid" />
            }
            else
            {
                <div class="pseudo-img">@item.Title[0]</div>
            }

        </a>
        <div class="post-text col-12 col-md-9 d-flex flex-column">
            <div class="post-header d-flex flex-row justify-content-between">
                <a asp-action="Details" asp-route-id="@item.ID" class="post-title">@item.Title</a>
                    <div class="post-attr">
                        <div class="post-category">@Html.DisplayFor(modelItem => item.BlogCategory.Name)</div>
                        <div class="post-date">@Html.DisplayFor(modelItem => item.DatePublished)</div>
                    </div>
            </div>
            <div class="post-body flex-shrink-1">@item.Body</div>
            <div class="post-actions">
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </div>
        </div>
    </div>
}
