@model IEnumerable<SensenHosp.Models.BlogPost>

@{
    ViewData["Title"] = "Home Page";
}

<div class="" id="banner">
    <div id="banner-title">Patients<br />Portal</div>
    <div id="banner-text">
        <div id="banner-moto">"Caring People, Caring for People"</div>
        <div id="banner-text-text">A convenient way to connect.<br />Register now to our patient portal</div>
    </div>
    <div id="patient-login-link">
        <a href="#" class="btn btn-outline-light">LOGIN</a>
        <a href="#" class="btn btn-outline-light">REGISTER</a>
    </div>
</div>
<div class="list-group d-flex flex-row" id="quick-links">
    <a href="#" class="list-group-item list-group-item-action d-flex align-items-center justify-content-center text-center">Find a Doctor</a>
    <a href="#" class="list-group-item list-group-item-action d-flex align-items-center justify-content-center text-center">Request an Appointment</a>
    <a href="#" class="list-group-item list-group-item-action d-flex align-items-center justify-content-center text-center">Patient Payments</a>
    <a href="#" class="list-group-item list-group-item-action d-flex align-items-center justify-content-center text-center">Health Services</a>
    <a href="#" class="list-group-item list-group-item-action d-flex align-items-center justify-content-center text-center">Contact Us</a>
    <a href="#" class="list-group-item list-group-item-action d-flex align-items-center justify-content-center text-center">FAQs</a>
</div>
<div id="blog">
    <h2 class="display-4 text-center pt-5 pb-3">Blog</h2>
    <div class="card-deck pb-3">
        @foreach (var item in Model)
        {
            <div class="card">
                @if (item.HasImg == 1)
                {
                    <img src="~/Uploads/Blog/FeatureImages/@item.ImgName" class="img-fluid card-img-top" />
                }
                else
                {
                    <div class="pseudo-img card-img-top">@item.Title[0]</div>
                }
                <div class="card-body">
                    <h5 class="card-title">
                        <a asp-action="Details" asp-route-id="@item.ID" class="post-title">@item.Title</a>
                    </h5>
                    <p class="card-text home-post-body">@item.Body</p>
                    <p class="card-text"><small class="text-muted">@Html.DisplayFor(modelItem => item.BlogCategory.Name)</small></p>
                </div>
            </div>
        }
    </div>
    <div class="d-flex justify-content-end">
        <a href="/blogposts" class="btn btn-sm btn-outline-primary">More Posts</a>
    </div>
</div>