@model IEnumerable<SensenHosp.Models.Contact>

@{
    ViewData["Title"] = "Index";
}

<h2 class="heading heading-h2">Admin Dashboard</h2>
<h3 class="heading">Contact Us - Messages</h3>

<div class="pagination ml-auto">
    <div>
        @ViewData["pagesummary"]
        @Html.ActionLink("Prev",
            "Admin",
            "Contacts",
            new { pagenum= ((int)ViewData["pagenum"]-1) }
            )
        |
        @Html.ActionLink("Next",
            "Admin",
            "Contacts",
            new { pagenum = ((int)ViewData["pagenum"] + 1) }
            )
    </div>
</div>
<br />
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <span class="nav-item nav-link contacts-tab-menu" id="nav-checkbox-tab" role="tab" aria-controls="nav-checkbox" aria-selected="true"><input type="checkbox" /></span>
        <a class="nav-item nav-link active contacts-tab-menu" id="nav-inbox-tab" data-toggle="tab" href="#nav-inbox" role="tab" aria-controls="nav-inbox" aria-selected="true">Inbox&nbsp;
            <!--THIS IS TO DISPLAY A BOOTSTRAP BADGE TO COUNT UNREAD MESSAGE CURRENTLY STORED IN THE DATABASE-->
            <span class="badge badge-primary">@ViewData["UnreadMessages"]</span></a>
        <a class="nav-item nav-link" id="nav-read-message-tab" data-toggle="tab" href="#nav-read-message" role="tab" aria-controls="nav-read-message" aria-selected="false">Read Messages</a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-inbox" role="tabpanel" aria-labelledby="nav-inbox-tab">
        <div class="table-responsive-sm">
            <table class="table table-hover">
                <thead class="text-light bg-primary">
                    <tr>
                        <th>
                            <input type="checkbox" />
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FullName)
                        </th>
                        <th class="contact-message">
                            @Html.DisplayNameFor(model => model.message)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DateSent)
                        </th>
                        <th>
                            Message Status
                        </th>
                        <th>
                            Action
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="contact-status" id="contact-status">
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                @if (item.message_status == true)
                                {
                                    <a asp-action="Details" asp-route-id="@item.ID">@Html.DisplayFor(modelItem => item.FullName)</a>
                                }
                                else
                                {
                                    <a asp-action="Details" asp-route-id="@item.ID" class="contacts-read">@Html.DisplayFor(modelItem => item.FullName)</a>
                                }
                            </td>
                            <td class="contact-message" style="font-size:14px;">
                                @if (item.message_status == true)
                                {
                                    <a asp-action="Details" asp-route-id="@item.ID">@Html.DisplayFor(modelItem => item.message)</a>
                                }
                                else
                                {
                                    <a asp-action="Details" asp-route-id="@item.ID" class="contacts-read">@Html.DisplayFor(modelItem => item.message)</a>
                                }

                            </td>
                            <td>
                                @if (item.message_status == true)
                                {
                                    <span>@Html.DisplayFor(modelItem => item.DateSent)</span>
                                }
                                else
                                {
                                    <span class="contacts-read">@Html.DisplayFor(modelItem => item.DateSent)</span>
                                }
                            </td>
                            <td>
                                <!--WHEN THE ADMIN READ AND CHECKED THE INBOX FRO MESSAGE STATUS IT SET THE MESSAGE STATUS IF ITS READ OR NOT-->
                                @if (item.message_status == true)
                                {
                                    <a asp-action="Edit" asp-route-id="@item.ID">
                                        <span class="alert-status-active">
                                            Read
                                        </span>
                                    </a>

                                }
                                else
                                {
                                    <a asp-action="Edit" asp-route-id="@item.ID">
                                        <span class="alert-status-inactive">
                                            Unread
                                        </span>
                                    </a>
                                }

                            </td>
                            <td>
                                @*<a asp-action="Details" asp-route-id="@item.ID"><i class="fas fa-eye" tile="View Message"></i></a>*@
                                <a asp-action="Edit" asp-route-id="@item.ID"><i class="fas fa-envelope-open-text" title="Mark as Read"></i></a>&nbsp;&nbsp;
                                <a asp-action="Delete" asp-route-id="@item.ID"><i class="fas fa-trash-alt" title="Delete"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <!--READ MESSAGES TAB-->
    <div class="tab-pane fade" id="nav-read-message" role="tabpanel" aria-labelledby="nav-read-message-tab">
        <div class="table-responsive-sm">
            <table class="table table-hover">
                <thead class="text-light bg-primary">
                    <tr>
                        <th>
                            <input type="checkbox" />
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FullName)
                        </th>
                        <th class="contact-message">
                            @Html.DisplayNameFor(model => model.message)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DateSent)
                        </th>
                        <th>
                            Message Status
                        </th>
                        <th>
                            Action
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        @if (item.message_status == true)
                        {
                    <tr class="contact-status">
                        <td>
                            <input type="checkbox" />
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.ID">@Html.DisplayFor(modelItem => item.FullName)</a>
                        </td>
                        <td class="contact-message" style="font-size:14px;">
                            <a asp-action="Details" asp-route-id="@item.ID">@Html.DisplayFor(modelItem => item.message)</a>

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateSent)
                        </td>
                        <td>
                            <!--WHEN THE ADMIN READ AND CHECKED THE INBOX FRO MESSAGE STATUS IT SET THE MESSAGE STATUS IF ITS READ OR NOT-->
                            @if (item.message_status == true)
                            {
                                <p>Read</p>
                            }
                            else
                            {
                                <p>Unead</p>
                            }

                        </td>
                        <td>
                            @*<a asp-action="Details" asp-route-id="@item.ID"><i class="fas fa-eye" tile="View Message"></i></a>*@
                            <a asp-action="Edit" asp-route-id="@item.ID"><i class="fas fa-envelope-open-text" title="Mark as Read"></i></a>&nbsp;&nbsp;
                            <a asp-action="Delete" asp-route-id="@item.ID"><i class="fas fa-trash-alt" title="Delete"></i></a>
                        </td>
                    </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
</div>

