@model IEnumerable<SensenHosp.Models.Contact>

@{
    ViewData["Title"] = "Index";
}

<h2 class="heading heading-h2">Admin Dashboard</h2>
<h3 class="heading">Contact Us - Messages</h3>

@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@
<div class="table-responsive-sm">
    <table class="table table-hover">
        <thead class="text-light bg-primary">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FullName)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.phone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Subject)
                    </th>*@
                <th class="contact-message">
                    @Html.DisplayNameFor(model => model.message)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateSent)
                </th>
                <th>
                    Message Status
                </th>
                <th>
                    Action
                </th>

            </tr>
        </thead>
        <tbody>
            <div class="pagination" style="overflow:hidden;float:right;padding-bottom:10px;">
                <div>
                    @ViewData["PaginationSummary"]
                    @Html.ActionLink("Prev",
                        "Index",
                        "Contacts",
                        new { pagenum= ((int)ViewData["pagenum"]-1)}
                        )
                    |
                    @Html.ActionLink("Next",
                        "Index",
                        "Contacts",
                        new { pagenum = ((int)ViewData["pagenum"] + 1) }
                        )
                </div>
            </div>
            <br />
            @foreach (var item in Model)
            {

                <tr class="contact-status">
                    <td>
                        <a asp-action="Details" asp-route-id="@item.ID">@Html.DisplayFor(modelItem => item.FullName)</a>
                    </td>
                    <td class="contact-message" style="font-size:14px;">
                        <a asp-action="Details" asp-route-id="@item.ID">@Html.DisplayFor(modelItem => item.message)</a>

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateSent)
                    </td>
                    <td>
                        <!--WHEN THE ADMIN READ AND CHECKED THE INBOX FRO MESSAGE STATUS IT SET THE MESSAGE STATUS IF ITS READ OR NOT-->
                        @if (item.message_status == true)
                        {
                            <p>Read</p>
                        }
                        else
                        {
                            <p>Unead</p>
                        }

                    </td>
                    <td>
                        @*<a asp-action="Details" asp-route-id="@item.ID"><i class="fas fa-eye" tile="View Message"></i></a>*@
                        <a asp-action="Edit" asp-route-id="@item.ID"><i class="fas fa-envelope-open-text" title="Mark as Read"></i></a>&nbsp;&nbsp;
                        <a asp-action="Delete" asp-route-id="@item.ID"><i class="fas fa-trash-alt" title="Delete"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
