@model IEnumerable<SensenHosp.Models.Contact>

@{
    ViewData["Title"] = "Index";
}

<h2>Contact Us - Messages</h2>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FullName)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Subject)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.message)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateSent)
                </th>
                <th>
                    Action
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateSent)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.message_status)
            </td>*@
            <td>
                <a asp-action="Details" asp-route-id="@item.ID">View Message</a> |
                <a asp-action="Edit" asp-route-id="@item.ID">Update</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
