@model IEnumerable<SensenHosp.Models.Appointment>

@{
    ViewData["Title"] = "List";
}

<h2 class="heading heading-h2">List</h2>
<a asp-action="Create" class="submit">Create New</a>
<br />
<table class="table table-hover">
    <thead class="text-light bg-primary">
        <tr>
            <th class="alert-title-table" colspan="2">
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th class="alert-title-table" colspan="2">
                @Html.DisplayNameFor(model => model.MobileNo)
            </th>
            <th class="alert-title-table" colspan="2">
                @Html.DisplayNameFor(model => model.Physician.physicianName)
            </th>
            <th class="alert-title-table" colspan="2">
                @Html.DisplayNameFor(model => model.AppointmentDate)
            </th>
            <th class="alert-title-table" colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        <div class="pagination" style="overflow:hidden;float:right;padding-bottom:10px;">
            <div>
                @ViewData["PaginationSummary"]
                @Html.ActionLink("Prev",
                    "List",
                    "Appointments",
                    new { pagenum= ((int)ViewData["pagenum"]-1)}
                    )
                |
                @Html.ActionLink("Next",
                    "List",
                    "Appointments",
                    new { pagenum = ((int)ViewData["pagenum"] + 1) }
                    )
            </div>
        </div>
        <br />
        @foreach (var item in Model)
        {
            <tr>
                <td class="alert-title-table" colspan="2">
                    @Html.DisplayFor(modelItem => item.FirstName)  @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td class="alert-title-table" colspan="2">
                    @Html.DisplayFor(modelItem => item.MobileNo)
                </td>
                <td class="alert-title-table" colspan="2">
                    @Html.DisplayFor(modelItem => item.Physician.physicianName)
                </td>
                <td class="alert-title-table" colspan="2">
                    @Html.DisplayFor(modelItem => item.AppointmentDate)
                </td>
                <td class="alert-title-table" colspan="2">
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
