@model SensenHosp.Models.Payments

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Donation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.patientFname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.patientFname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.patientLname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.patientLname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.payeeEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.payeeEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.invoiceId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.invoiceId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.amount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
